<tui-root>
  <div class="content">
    <div class="form__style">
      <h1 class="title">Создание пользователя</h1>

      <form [formGroup]="form">
        <p class="input">
          <tui-input formControlName="firstName">
            Введите имя
            <input tuiTextfield
                   type="text" />
          </tui-input>
          <tui-error formControlName="firstName"
                     [error]="[] | tuiFieldError | async">
          </tui-error>
        </p>

        <p class="input">
          <tui-input formControlName="lastName">
            Введите фамилию
            <input tuiTextfield
                   type="text" />
          </tui-input>
          <tui-error formControlName="lastName"
                     [error]="[] | tuiFieldError | async">
          </tui-error>
        </p>

        <p>
          <tui-select formControlName="language">
            Язык
            <input tuiTextfield
                   placeholder="Выберете язык интерфейса" />
            <tui-data-list-wrapper *tuiDataList
                                   [items]="languages">
            </tui-data-list-wrapper>
          </tui-select>
        </p>

        <div tuiGroup
             class="group">
          <tui-radio-block contentAlign="right"
                           formControlName="role"
                           class="radioblock"
                           item="user"
                           size="l">
            Пользователь
          </tui-radio-block>
          <tui-radio-block contentAlign="right"
                           formControlName="role"
                           class="radioblock"
                           item="admin"
                           size="l">
            Администратор
          </tui-radio-block>
        </div>

        <p>
          <button tuiButton
                  type="button"
                  appearance="primary"
                  class="tui-space_right-3 tui-space_bottom-3"
                  (click)="addSkill()">
            Добавить умение
          </button>
        </p>
        <tui-error formArrayName="skills"
                   class="form-array-error"
                   [error]="[] | tuiFieldError | async">
        </tui-error>

        <div formArrayName="skills">
          <div class="form__group"
               *ngFor="let skill of form.controls['skills'].controls;
                let i = index">
            <tui-input [formControlName]="i"
                       class="input input__skill">
              Введите умение
              <input tuiTextfield
                     type="text" />
            </tui-input>
            <button class="button__trash"
                    (click)="deleteSkill(i)">
            </button>
          </div>
        </div>

        <button tuiButton
                type="submit"
                appearance="primary"
                [disabled]="form.invalid"
                class="tui-space_right-3 tui-space_bottom-3"
                (click)="submit()">
          Создать
        </button>
      </form>

    </div>
  </div>
</tui-root>
